@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap'); 

::selection {
    background-color: rgb(0,0,0,0.8);
    color: white;
    text-shadow: 0 0 2px black;
}

.creepy-text-red {
    font-size: 1em;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #801423;
    margin: 0;
}

.creepy-text {
    font-size: 1.4em;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.text {
    font-size: 1rem;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}