---
import Principal from '../layouts/principal.astro'
import TitleCard, { DIRECTION_CARD } from '../components/Title_card.astro'
---

<Principal title="Home" indexSelected="0">
	<TitleCard
	titleCard="THE FOUNDATION SURVIVE",
	descriptionCard="A HORROR, ACTION AND SUSPENSE GAME",
	direction={DIRECTION_CARD.NORMAL},
	isImage= {false}>

		<h5 class="creepy-text">SINOPSIS</h5>
		<p>The Foundation Survive is a horror-action game inspired by the popular internet series, <strong>The SCP Foundation.</strong><br>The game dives into 	the chilling stories of incidents that took place within the foundation. Where you'll step into the role of the protagonist, experiencing one of the 	most terrifying and unsettling events ever to occur in the facility.
		</p>

		<a style="margin-top: 1rem;" class="btn btn-dark btn-lg" href="/about">Know More</a>
	</TitleCard>

</Principal>