<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas</title>
</head>
<body>
    
</body>
</html>

<style>
    :root {
    --background-colorUp: #d4d3d1;
    --background-colorDown: #333333;
}

body {
    background: linear-gradient(white,gray);
}
</style>