---
import { getLangFromURL, useTranslations } from "../i18n/utils";
import { cleanURL } from "../i18n/utils";
const lang = getLangFromURL(Astro.url)
const t = useTranslations(lang)

const {currentLocale} =Astro
---

<div class="footer-container">
    <div class="content-container text">
        <div class="flex-row">
            <ul>
                <li><a href={cleanURL(currentLocale,'')}>{t('nav.home')}</a></li>
                <li><a href={cleanURL(currentLocale,'join_us')}>{t('nav.join_us')}</a></li>
                <li><a href={cleanURL(currentLocale,'news')}>{t('nav.news')}</a></li>
                <li><a href={cleanURL(currentLocale,'about')}>{t('nav.about')}</a></li>
            </ul>
            <ul>
                <li><a href="mailto:impgamer333@gmail.com">{(t('foot.contact'))}</a></li>
                <li><a target="_blank" href="https://www.kickstarter.com/projects/imp-dev/the-foundation-survive-a-suspense-and-horror-game?ref=discovery">{t('foot.support')}</a></li>
            </ul>
        </div>
        <div class="down-flex">
            <p><strong>The Foundation Survive </strong>{t('foot.disclaimer')} <a target="_blank" href="https://scp-wiki.wikidot.com">{t('foot-scp.community')}</a>
            </p>
            <ul class="social-container">
                <li><a href="https://x.com/TheF0undationS" target="_blank" title="twitter/x"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                <li><a href="https://discord.gg/uW7CxedBPT" target="_blank" title="discord"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="mailto:impgamer333@gmail.com" title="send us email"><i class="fa-solid fa-envelope"></i></a></li>
                <li><a href="https://www.kickstarter.com/projects/imp-dev/the-foundation-survive-a-suspense-and-horror-game?ref=discovery" target="_blank" title="support in kickstarter"><i class="fa-brands fa-kickstarter"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<style>
    .footer-container {
        border: 2px solid #fff;
        border-style: solid none none none;
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 20px;
        height: 100%;
        width: 100%;
    }
    .content-container {
        color: white;
        padding: 2vw 2vw 0 2vw;
    }
    ul {
        margin: 0;
        padding-left: 0;
    }
    li {
        text-align: start;
        list-style-type: none;
        margin: 10px;
    }
    a:not([href="https://scp-wiki.wikidot.com"]) {
        text-decoration: none;
        color: inherit;
    }
    .social-container {
        margin-left: auto;
        padding: 0;
        display: flex;
    }

    .social-container li {
        font-size: 1.4rem;
        align-items: center;
        justify-content: center;
        &:hover {
            transform: scale(1.2);
        }
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        gap: 8vw;
    }

    .down-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 3vh;
    }
</style>