---
import Principal from "../../layouts/principal.astro"
---

<Principal title="News" indexSelected="1">
    <div class="no-content-container text">
        <h4 class="title">NO HAY NOTICIAS POR EL MOMENTO :(</h4>
        <p>Porfavor regresa pronto, y puede que te encuentras que nuestra próxima gran noticia!</p>
    </div>
    
</Principal>

<style>
    .no-content-container {
        padding: 4%;
        background-color: rgba(1,1,1,0.5);
        box-shadow: 2px 2px 3px black;
        text-align: center;
        border-radius: 15px;
    }
    .title {
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 3em;
        color: #801423;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>