---
import MenuNavegator from "../components/menu_navegator.astro"
import Footer from '../components/footer.astro'
import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
const {title} = Astro.props
const {indexSelected="0"} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/global.css">
    <link rel="icon" href="../../public/images/Icon_SCP.png" type="image/x-icon">
    <title>{title}</title>
</head>
<body>
    <header>
        <MenuNavegator indexSelected=`${indexSelected}`/>
    </header>
    <main>
        <div class="main-container">
            <slot/>
        </div>
    </main>
    <footer>
        <Footer/>
    </footer>
    <script type="module" src="/node_modules/three/build/three.module.min.js"></script>
</body>
</html>

<style>
:root {
    --background-colorUp: #d4d3d1;
    --background-colorDown: #333333;
}

html, body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(var(--background-colorUp), var(--background-colorDown));
    display: flex;
    flex-direction: column;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
main {
    margin-top: 50px;
    padding: 1vw;
}
.main-container {
    padding: 10px;
}
</style>